<h1>Tasks</h1>
<%= button_to "Home", root_path, :method => "get" %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <h1><%= task.title %></h1>
      <p><%= task.details %></p>
      <p><%= "Completed!" if task.completed %></p>
    </li>
  <% end %>
</ul>
