<h1>Tasks</h1>
<%= button_to "Home", root_path, :method => "get" %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <h1><%= link_to task.title, task_path(task) %></h1>
      <p><%= "Completed!" if task.completed %></p>
    </li>
  <% end %>
</ul>
